<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-sm btn-success" href="/users/create">Add</a>
        </div>
    </div>
</div>

<h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($users as $user) {?>
            <tr>
                <td><?php echo $user->getId(); ?></td>
                <td><?php echo $user->getFirstName(); ?></td>
                <td><?php echo $user->getLastName(); ?></td>
                <td><?php echo $user->getEmail(); ?></td>
                <td><?php echo $user->getBirthday(); ?></td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/users/update?id=<?php echo $user->getId();?>">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/users/delete?id=<?php echo $user->getId();?>">Delete</a>
                </td>
            </tr>
        <?php }?>
        </tbody>
    </table>
</div>


